.DS_Store
Manifest.toml
data/cablingMap.bin
data/fedIds.bin
data/gain.bin
data/raw.bin
data/beamspot.bin
data/tracks.bin
data/vertices.bin
data/digicluster.bin
data/cpefast.bin
.vscode/
*.txt
data_v2.tar.gz
!data/md5.txt
!data/url.txt
compiled_cms/
src/julia-serial/compile
